#title {
    color: black !important;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
	float: left;
  }
  .nav-item {
    color: black;
    font-size: 1.3rem;
	  display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
  }

.nav-link{
	
}
.ul {
	margin-left: auto!important;
}